:root {
	--red: #c73120;
	--text-color: #ffffff;
	--pink: rgb(255, 222, 228);
}

@font-face {
	font-family: "Raleway";
	src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Raleway;
	font-weight: 400;
	color: var(--text-color);
}

.layer {
	background-color: rgba(248, 248, 248, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0px;
	font-weight: 700;
}

h2 {
	margin: 5px 5px 15px 5px;
	font-weight: 700;
}

h3 {
	margin: 5px;
	font-weight: 600;
}

h4 {
	font-weight: 600;
}

p {
	margin: 5px;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.body-container {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	margin: 40px;
}

.score-cont {
	background: var(--red);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 35px;
}

.score {
	display: flex;
	flex-flow: column;
	justify-items: end;
	width: 50%;
}

.york-score {
	align-items: flex-end;
}

.container {
	display: flex;
	flex-flow: row;
	align-items: stretch;
	min-height: 100%;
	min-width: 100%;
	padding-top: 35px;
	gap: 35px;
}

.pad {
	padding: 35px;
}

.container .column {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.container .column:nth-child(3) {
	width: 40%;
}

.title {
	background-color: var(--red);
	text-align: center;
	width: 100%;
}

.column-content {
	background-color: rgba(255, 255, 255, 0.4);
	/* frosted glass effect */
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	color: black;
	margin: 35px;
	width: 100%;
	height: 100%;
}

.column-content .waveform {
	border: solid 1px black;
	aspect-ratio: 1/1;
	width: 100%;
	max-height: 50vh;
}

.column-content .now-playing {
	color: white;
	background-color: var(--red);
	text-align: center;
	margin: 20px 0;
	padding: 10px;
}

.fixture-container{
	display: flex;
	flex-flow: row;
	align-items: center;
}

.fixture-item {
	/* border: 5px solid var(--red); */
	padding: 5px;
	margin-bottom: 10px;
}

.fixture-bullet {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border-radius: 100%;
	background-color: var(--red);
}

#fixtures-list {
	max-height: 60vh;
}

.fix-score-cont {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.fix-score-cont.lancs-win {
	background-color: var(--red);
	color: white;
}

.fix-score-cont.york-win {
	background-color: white;
	color: black;
}

.fix-score-cont.no-win {
	background-color: var(--pink);
	color: black;
}

.team-score {
	text-align: center;
}

.fix-score-cont .top {
	text-align: center;
}

.fix-score-cont .top .fix-title {
	font-weight: bolder;
	font-size: 1.2em;
}