:root {
	--red: #c73120;
	--text-color: #ffffff;
	--pink: #f7d6e0;
}

@font-face {
	font-family: "Raleway";
	src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Raleway;
	font-weight: 400;
	color: var(--text-color);
}

* {
	font-size: 1.15rem;
}

.fades {
	position: absolute;
	opacity: 1;
	transition: opacity 1s;
	justify-content: center;
	align-items: center;
	display: flex;
	min-width: 100% !important;
	max-width: 100% !important;
}

.fadeslist {
	position: absolute;
	opacity: 1;
	transition: opacity 1s;
	align-items: center;
	display: flex;
	flex-direction: column;
	min-width: 100% !important;
	max-width: 100% !important;
}

.layer {
	background-color: rgba(248, 248, 248, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0px;
	font-weight: 700;
	font-size: 2rem;
}

h2 {
	margin: 5px 5px 15px 5px;
	font-weight: 700;
	font-size: 1.5rem;
}

h3 {
	margin: 5px;
	font-weight: 600;
}

h4 {
	font-weight: 600;
}

p {
	margin: 5px;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.body-container {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	margin: 40px;
	height: 72%;
}

.score-cont {
	background: var(--red);
}

.score-cont .top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 35px;
	padding-top: 10px;
}

.score-cont > p {
	text-align: center;
	font-size: 1.2em;
}

.score {
	display: flex;
	flex-flow: column;
	justify-items: end;
	width: 50%;
}

.winner::after {
	content: "🎉";
	right: 50px;
	display: inline;
	/* width: 100%; */
	font-size: 50px;
	left: 10px;
	position: relative;
}

.winner {
	color: gold;
}

.york-score {
	align-items: flex-end;
}

.container {
	display: flex;
	flex-flow: row;
	align-items: stretch;
	min-height: 100%;
	min-width: 100%;
	padding-top: 35px;
	gap: 35px;
}

.pad {
	padding: 35px;
	min-width: 90% !important;
	max-width: 90% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container .column {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.container .column:nth-child(3) {
	width: 40%;
}

.title {
	background-color: var(--red);
	text-align: center;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
}

.column-content {
	background-color: rgba(255, 255, 255, 0.4);
	/* frosted glass effect */
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	color: black;
	margin: 0 35px;
	width: 100%;
	height: 100%;
}

.waveform {
	aspect-ratio: 2/1;
	width: 100%;
	max-height: 50vh;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.column-content .now-playing {
	color: white;
	background-color: var(--red);
	text-align: center;
	margin: 20px 0;
	padding: 10px;
}

.fixture-container {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 5px;
	font-size: 1.5em;
	min-width: 90%;
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}

.fixture-item {
	/* border: 5px solid var(--red); */
	padding: 5px;
	/* margin-bottom: 10px; */
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.v-line {
	border-left: 1px solid var(--red);
	height: 100%;
}

.fixture-item h3,
.fixture-item p {
	display: inline;
}

.fixture-bullet {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border-radius: 100%;
	background-color: var(--red);
}

#fixtures-list {
	max-height: 60vh;
}

#catchup-list {
	max-height: 60vh;
}

.fix-score-cont {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	min-width: 100% !important;
	max-width: 100% !important;
	overflow: hidden;
	white-space: nowrap;
}

.fix-score-cont.lancs-win {
	background-color: var(--red);
	color: white;
}

.fix-score-cont.york-win {
	background-color: white;
	color: black;
}

.fix-score-cont.no-win {
	background-color: var(--pink);
	color: black;
}

.team-score {
	text-align: center;
}

.fix-score-cont .top {
	text-align: center;
}

.fix-score-cont .top .fix-title {
	font-weight: bolder;
	font-size: 1.2em;
}

.bar-container {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1000px;
	height: 30px;
	display: flex;
}

.bar-section {
	height: 100%;
	transition: width 0.6s ease;
}

.section1 {
	background-color: var(--text-color);
}
.section2 {
	background-color: var(--red);
}
.section3 {
	background-color: var(--text-color);
}

.bigcolumn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	min-height: 100% !important;
}

.center-divider {
	position: absolute;
	left: 50%;
	top: -10px; /* Slightly above the bar */
	min-height: 50px;
	height: 50px; /* Slightly taller than 30px bar */
	width: 3px;
	background-color: #000000;
	z-index: 1;
	pointer-events: none;
	border-radius: 1px;
}
